<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vendor/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="stylesheet" href="/vendor/slick-carousel/slick.css"/>
    <link rel="stylesheet" href="/vendor/slick-carousel/slick-theme.css"/>

    <link rel="stylesheet" href="/styles/style-icons.css"/>
    <link rel="stylesheet" href="/styles/style-shared.css"/>
    <link rel="stylesheet" href="/styles/style-product-preview-image.css"/>
    <link rel="stylesheet" href="/styles/style-product-preview-slick.css"/>
    <link rel="stylesheet" href="/styles/style-home.css"/>


    <script src="/vendor/jquery.min.js"></script>
    <script src="/vendor/angular.min.js"></script>
    <script src="/vendor/angular-animate.min.js"></script>
    <script src="/vendor/angular-touch.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/vendor/slick-carousel/slick.min.js"></script>
    <script src="/vendor/angular-slick/dist/slick.min.js"></script>
    <script src="/javascripts/home/home-page.js"></script>


    <script src="/vendor/ng-module/ng-module.js"></script>
</head>

<body>

<%-include ../partial/svg.ejs%>

<div class="header">
   <%-include ../partial/headLineWithLogin.ejs%>
    <div class="header-search">
        <div class="container">
            <form class="header-search-form" action="/products/search" method="get">
                <div style="display: inline-block" class="input-group">
                    <input type="text" style="display: block" name="keyword" placeholder="search ..."> </input>
                    <span class="input-group__bar"></span>
                </div>

                <button type="submit" class="text-uppercase" style="box-shadow: none;">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </form>
        </div>
    </div>
    <div class="header-nav">
        <div class="container">
            <div class="nav-logo">
               <img src="/images/HandAcc-logo.png" style="width:150px;"> </img>
            </div>

            <div class="nav-menu-container">
                <ul class="nav-menu-list">
                    <li class="nav-menu-item" style="margin-right: 20px;">
                        <a href="" class="wave">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-home"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-menu-item">
                        <a href = "/products/list">
                            products
                        </a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="/support/issue">
                            customer-service
                        </a>
                    </li>

                    <li class="nav-menu-item">
                        <a href = "/products/download">
                            download
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div ng-module="home" ng-controller="homeController"
     ng-init="newProducts=<%=JSON.stringify(newProducts)%>"
     class="page-content" style="padding-bottom: 300px;">


    <div id="myCarousel">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.src}}" style="width:100%; min-height:445px;">
            </div>
        </div>
    </div>

    <div class="newProducts">
        <div class="container">
            <h2 class="title">
                New Products
            </h2>

            <slick infinite=false slides-to-show="4" slides-to-scroll="4" style="height:440px;">

                <div class="product-preview-wrapper"  ng-repeat="p in newProducts">
                    <div class="product-preview">
                        <div class="product-preview__image">
                            <a href="/products/{{p.id}}/detail">
                                <img ng-src="{{p['summary_image']}}" style="width:100%;"> </img>
                            </a>
                        </div>
                        <div class="product-preview__info">
                            <div class="product-title" ng-bind="p['summary_name']">

                            </div>

                            <div class="product-price">
                                <div class="invisible product-preview-cart" style="margin-right: 15px;">
                                    <a href="{{p.buyUrl}}">
                                        <span class="glyphicon glyphicon-shopping-cart" style="font-size:1.3em" ></span>
                                    </a>
                                </div>

                                <span ng-bind="p.oldPrice" class="overridden-Price" style="margin-right: 15px;"></span>

                                <span class="price" ng-bind="p.price"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </slick>

        </div>

    </div>
</div>



<div class="page-footer" ng-module="home" ng-controller="footerController">
    <div class="footer-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h5 class="title">
                        &nbsp;
                    </h5>
                    <p>
                        Handacc provides all kinds of accessories or upgrades, including Expansion Cards, Power Supplies & Batteries, Hard Drives & SSDs, Cables & Tools etc.

                    </p>
                </div>

                <div class="col-sm-2">
                    <h5 class="title">
                        Information
                    </h5>
                    <ul>
                        <li><a href="/policy/terms">Terms of Use</a></li>
                        <li><a href="/policy/privacy">Privacy Policy</a></li>
                        <li><a href="/policy/return">Return Policy</a></li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <h5 class="title">
                        company information
                    </h5>
                    <ul>
                        <li class="icon icon-home">35830 Argonne st, CA 94560 U.S.A</li>
                        <!--
                        <li class="icon icon-telephone">1-406-209-1297</li>
                        -->
                        <li class="icon icon-mail">
                            Technical Support:
                            <a href="mailto:handacc888@gmail.com">handacc888@gmail.com</a>
                            <br>
                            Business Inquiries:
                            <a href="mailto:handacc888@gmail.com">handacc888@gmail.com</a>
                        </li>
                        <!--<li class="icon icon-skype"><a href="#">shop.test</a></li>-->
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <form method="post" action="/api/subscribe">
                        <label> SIGN UP FOR NEWSLETTER</label>
                        <input type="email" class="input--wd" placeholder="your email address" name="email"/>
                        <input class="btn" type="submit" name="submit" value="SUBSCRIBE">
                        <!--<button class="btn" ng-click="subscribe()">SUBSCRIBE</button>-->
                    </form>
                </div>
                <div class="col-sm-5" style="text-align: right">
                    <%-include ../partial/social-list-large.ejs%>
                </div>
            </div>
        </div>
    </div>

    <%-include ../partial/copyRight.ejs%>
</div>


</body>
</html>